body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #e51e1e;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: fixed; top: 0px; left: 0px;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-icons img {
    height: 30px;
}

.main-content {
    margin-top: 40px;
    padding: 30px;
    text-align: center;
}

#recommended-items {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 45%;
    box-sizing: border-box;
}

.item-card:hover {
    box-shadow: #e51e1e 0 0 4px;
}

#recommended-items h2 {
    width: 100%;

}

.item-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: #e51e1e;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed; bottom: 0px; left: 0px;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
}

.footer-icons img {
    height: 30px;
}

/*2501358 田中琴音*/
